<div class="favourites-container">
    <div class="favourites-container__pokemons" *ngIf="favouritesPokemon.length > 0; else noFavourites">
        <ul class="pokemon__information">
            <li *ngFor="let pokemon of favouritesPokemon">
                <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
                <h3>{{ pokemon.name }} 
                    <em class="fas fa-heart"></em>
                    <em (click)="deletePokemon(pokemon)" class="fas fa-trash"></em>
                </h3>
                <p>Pokedex: #{{pokemon.id}}</p>
                <p>Type: {{pokemon.types[0].type.name}}</p>
                <p>Health: {{pokemon.stats[0].base_stat}}</p>
                <button (click)="getMoreInfo(pokemon)">Info</button>
            </li>
        </ul>
    </div>
    <ng-template class="favourites-container__nofavourites" #noFavourites>
        <p>No favourites Pokemon yet</p>
    </ng-template>
    <div class="favourites-container__button">
        <button routerLink="/">Back</button>
    </div>
</div>
