<div class="container">
    <ul>
        <li *ngFor="let pokemon of pokemons">
            <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
            <h3>{{ pokemon.name }} 
                <em (click)="handleFavouritePokemon(pokemon)" [ngClass]="pokemon.stats[1].base_stat >= 80 ? 'fas fa-heart' : 'far fa-heart'"></em>
            </h3>
            <p>Pokedex: #{{pokemon.id}}</p>
            <p>Type: {{pokemon.types[0].type.name}}</p>
            <p>Health: {{pokemon.stats[0].base_stat}}</p>
            <button (click)="getMoreInfo(pokemon)">More Info</button>
        </li>
    </ul>
    <button (click)="previousPage()">Previous</button>
    <button (click)="nextPage()">Next</button>
</div>
