<footer class="footer-container">
    <div class="footer-container__social-links">
      <em class="fab fa-facebook"></em>
      <em class="fab fa-instagram"></em>
      <em class="fab fa-twitter"></em>
    </div>
    <div class="footer-container__details">
      <div class="details__text">
        <p><a routerLink="">About Us</a></p>
        <p><a routerLink="">Terms of use</a></p>
        <p><a routerLink="">Privacy Policy</a></p>
      </div>
      <div class="details__info">
        <p>Powered by Poke API</p>
        <p>Made with 🤍 💙 💛 in 🇮🇨</p>
        <p>Copyright 2021 © @adayarana</p>
      </div>
    </div>
  </footer>