<header class="header-container">
    <div class="header-container__nav-logo">
        <h1><a routerLink="">PokedexApp</a></h1>
    </div>
    <nav class="header-container__nav-menu">
        <ul>
            <li><a routerLink="/favourites">Favourites</a></li>
            <li>
                <form action="">
                    <input 
                    class="search"
                    id="search"
                    name="search"
                    type="search"
                    placeholder="Search"
                    autocomplete="off"
                    (keyup)="searchPokemon(searchText)"
                    [(ngModel)]="searchText"
                    >
                </form>
            </li>
        </ul>
    </nav>
</header>

