<div class="pokedex-container">
    <div class="pokedex-container__title">
        <h2>Pokedex</h2>
    </div>
    <div class="pokedex-container__buttons">
        <button routerLink="/create-pokedex">New</button>
        <div *ngIf="pokedex.length > 1">
            <button (click)="deleteAllPokemons()">Delete</button>
        </div>
    </div>
    <div class="pokedex-container__table">
        <table *ngIf="pokedex.length > 0; else noPokedex">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Favourite</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokedex; index as i">
                    <td>{{i + 1}}</td>
                    <td id="pokemon-name">{{pokemon.name}}</td>
                    <td>{{pokemon.level}}</td>
                    <td>
                        <em [ngClass]="pokemon.favourite ? 'fas fa-heart' : 'far fa-heart'"></em>
                    </td>
                    <th>
                        <em [routerLink]="['/edit-pokedex', pokemon.id]" class="fas fa-edit"></em>
                        <em (click)="deletePokemon(pokemon.id)" class="fas fa-trash"></em>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template class="pokedex-container__table--off" #noPokedex>
            <p>No Pokemons yet</p>
    </ng-template>
</div>