<div class="pokedex">
    <div>
        <span>POKEDEX</span>
        <button routerLink="/create-pokedex">New</button>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Favourite</th>
                    <th>
                        <em class="fas fa-edit"></em>
                        <em class="fas fa-trash"></em>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokedex; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.level}}</td>
                    <td>
                        <em [ngClass]="pokemon.favourite ? 'fas fa-heart' : 'far fa-heart'"></em>
                    </td>
                    <th>
                        <em class="fas fa-edit"></em>
                        <em class="fas fa-trash"></em>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>