<div class="pokedex">
    <div>
        <span>Pokedex</span>
        <button routerLink="/create-pokedex">New</button>
        <table *ngIf="pokedex.length > 0; else noPokedex">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Favourite</th>
                    <th>
                        <em class="fas fa-edit"></em>
                        <em class="fas fa-trash"></em>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokedex; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.level}}</td>
                    <td>
                        <em [ngClass]="pokemon.favourite ? 'fas fa-heart' : 'far fa-heart'"></em>
                    </td>
                    <th>
                        <em [routerLink]="['/edit-pokedex', pokemon.id]" class="fas fa-edit"></em>
                        <em (click)="deletePokemon(pokemon.id)" class="fas fa-trash"></em>
                    </th>
                </tr>
            </tbody>
        </table>
        <div *ngIf="pokedex.length > 1">
            <button (click)="deleteAllPokemons()">Delete All</button>
        </div>
        <ng-template #noPokedex>
            <p>No pokemons yet</p>
        </ng-template>
    </div>
</div>