<div class="create-pokedex-container">
    <div class="create-pokedex-container__title">
        <h2>{{title}}</h2>
    </div>
    <div class="create-pokedex-container__form">
        <form class="form__group" [formGroup]="pokedexForm" (ngSubmit)="addPokemon()">
            <div>
                <label for="name">Name</label>
                <input 
                id="name"
                name="name"
                formControlName="name"
                type="text" 
                placeholder="Name"
                autocomplete="off"
                autocapitalize="on"
                required
                >
                <div *ngIf="pokedexForm.get('name')?.hasError('required') && pokedexForm.get('name')?.touched">
                    <span>Pokemon name is required</span>
                </div>
            </div>
            <div>
                <label for="level">Level</label>
                <input 
                id="level"
                name="level"
                formControlName="level"
                type="number"
                min="1"
                max="100" 
                placeholder="Level"
                autocomplete="off"
                required
                >
                <div *ngIf="pokedexForm.get('level')?.hasError('required') && pokedexForm.get('level')?.touched">
                    <span>Pokemon level is required</span>
                </div>
            </div>
            <div>
                <label for="favourite">Favourite</label>
                <input 
                id="favourite"
                name="favourite"
                formControlName="favourite"
                type="checkbox" 
                >
            </div>
            <button type="submit" [disabled]="pokedexForm.invalid">{{action}}</button>
        </form>
        <div>
            <button routerLink="/pokedex">Back</button>
        </div>
    </div>
</div>