@import '../../../sass/var.scss';

.pokemon-container {
    display: flex;
    flex-direction: column;

    .pokemon-container__pokemon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .pokemons__information > img, h3, p {
            text-transform: capitalize;
        }

        .pokemon__fans {
            text-align: center;
            margin: 0.5rem;
        }

    }

    .pokemon-container__button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}