<header class="header-container">
    <div class="header-container__nav-logo">
        <h1>PokedexApp</h1>
    </div>
    <nav class="header-container__nav-menu">
        <ul>
            <li>Pokedex</li>
            <li>
                <form action="">
                    <input 
                    class="search"
                    id="search"
                    name="search"
                    type="search"
                    placeholder="Search"
                    autocomplete="off">
                </form>
            </li>
        </ul>
    </nav>
</header>

